<section class="error-container">
  <div class="error-inner-container">
    <h1 class="error-heading">404</h1>
    <h2>Опа! Страницата не съществува.</h2>
    <p>Може би връзката е счупена или страницата е премахната.</p>
    <a href="/">Обратно към началото</a>
  </div>
</section>