<section class="hero-section">
  <div class="inner-wrapper hero-wrapper">
    <!-- Left Text Column -->
    <div class="hero-text">
      <div class="hero-text-inner">
        <h1 class="font-pattaya">
          Декорираме, организираме <br class="hide-on-mobile" />
          и планираме събития
        </h1>
        <p class="font-poiret">
          Вие мечтаете, ние сбъдваме
        </p>
      </div>
    </div>

    <!-- Right Column Placeholder for layout structure -->
    <div class="hero-image-placeholder"></div>
  </div>

  <!-- Absolutely Positioned Image -->
  <img
    src="/images/index-desktop.png"
    alt="Сватбена двойка"
    class="hero-img"
  />
</section>


<!-- Hero Image Responsive Banner -->
<!-- <section class="hero mb-0 mb-lg-5 mb-md-0">
    <div class="container text-center">
        <h1 class="display-4">In the heart of the Jardin Alpin district</h1>
        <p class="lead">discover a prestigious apartment facing the most beautiful hotels in Courchevel</p>
    </div>
</section> -->

<!-- Area short -->
<!-- <section class="property-info py-5">
    <div class="container-lg">
        <div class="row text-center">
            <div class="col property-col">
                <h2 class="property-number">5</h2>
                <p class="property-label">BEDROOMS</p>
            </div>
            <div class="col property-col">

                <h2 class="property-number">152<span class="unit">m<sup>2</sup></span></h2>
                <p class="property-label">LIVING AREA</p>
            </div>
            <div class="col property-col">
                <h2 class="property-number">60<span class="unit">m<sup>2</sup></span></h2>
                <p class="property-label">LAND AREA</p>
            </div>

        </div>
    </div>
</section> -->


<!-- Text Information for the Villa -->
<!-- <section class="py-4 w-100 w-lg-75 mx-auto wrapper" id="text-information">
    <div class="container">
        <p class="lh-md text-center text-content">
            Welcome to Le Sasha apartment, a luxurious retreat in the exclusive Jardin Alpin area of Courchevel 1850.
            Located on the ground floor of a modern residence, this apartment combines alpine charm with contemporary
            comfort.
            <br>
            <br>
            <span class="extra-content">
                Directly facing the Gucci cable car, the apartment offers stunning views of the Courchevel ski slopes,
                surrounded by top-tier hotels and chalets. Inside, a spacious living room invites you to unwind in front
                of the TV, while the fully equipped kitchen and large dining table, seating up to 10, make it easy to
                enjoy shared meals.
                The apartment features five cozy bedrooms, each with a private shower room and TV. The master suite
                includes a King Size bed, double sinks, a separate toilet, and a spacious dressing area. Additional
                rooms include another King Size bed, a Queen Size bed, and two rooms with large beds.
                <br>
                <br>
                With a private garage, the apartment provides convenient parking access for guests.
                Step out onto the 60 m² terrace to savor the fresh mountain air, or enjoy the building’s spa facilities,
                complete with a sauna and hammam, for a truly relaxing stay.
            </span>
            <span class="fade-overlay"></span>
            <a href="javascript:void(0);" class="read-more-toggle">
                Read More <span class="arrow">➔</span>
            </a>
        </p>

    </div>
</section> -->

<!-- Image Gallery -->
<!-- <section class="gallery py-5">
    <div class="hero-container">
        
        <div class="swiper-container">
            <div class="swiper-wrapper">
               
                <div class="swiper-slide">
                    <img src="/images/homepage/image00002.webp" class="img-fluid" alt="Villa Image 1">
                </div>
                
                <div class="swiper-slide">
                    <img src="/images/homepage/image00021.webp" class="img-fluid" alt="Villa Image 2">
                </div>
            
                <div class="swiper-slide">
                    <img src="/images/homepage/image00011.webp" class="img-fluid" alt="Villa Image 3">
                </div>
                
                <div class="swiper-slide">
                    <img src="/images/homepage/image00018.webp" class="img-fluid" alt="Villa Image 3">
                </div>
               
                <div class="swiper-slide">
                    <img src="/images/homepage/image00008.webp" class="img-fluid" alt="Villa Image 3">
                </div>
                
                <div class="swiper-slide">
                    <img src="/images/homepage/image00005.webp" class="img-fluid" alt="Villa Image 3">
                </div>
            </div>
        </div>
    </div>
</section> -->



<!-- Icons with Three Benefits -->
<!-- <section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Accommodation highlights</h2>
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <img src="/images/ski-icon-1.png" alt="pool" class="icon-benefit" />
                <h5 class="mt-2">Ski-in / Ski-out</h5>
                <p>Steps from Courchevel’s main slope and proximity to the Jardin Alpin gondol - The famous Gucci
                    gondola</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="/images/spa_icon.png" alt="pool" class="icon-benefit" />

                <h5 class="mt-2">Hammam and Sauna</h5>
                <p>Relax and rejuvenate our luxurious hammam and sauna facilities.</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="/images/dinner_icon.png" alt="pool" class="icon-benefit" />

                <h5 class="mt-2">Concierge service</h5>
                <p>Gourmet breakfast and optional private chef available.</p>
            </div>

            <div class="col-md-4 mb-4">
                <img src="/images/ski_room_icon.png" alt="pool" class="icon-benefit" />

                <h5 class="mt-2">Ski Room & Equipment</h5>
                <p>Dedicated ski room with premium equipment ready to go.
                </p>
            </div>
            <div class="col-md-4 mb-4">

                <img src="/images/ski_icon.png" alt="pool" class="icon-benefit" />
                <h5 class="mt-2">Private Ski Instructor</h5>
                <p>Enhance your ski experience with a personal instructor and expert guidance on the slopes.
                </p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="/images/terrace_icon.png" alt="pool" class="icon-benefit" />
                <h5 class="mt-2">Outdoor garden</h5>
                <p>Relax in a private 40 sqm alpine-view garden terrace. </p>
            </div>
        </div>
    </div>
</section> -->

<!-- <div class="parallax-image sticky page-title"></div> -->

<!-- CTA Button for Make a Booking Now -->
<!-- <section class="py-5 text-white text-center" id="cta-home-section">
    <div class="hero-container">
        <h2 class="heading-part1">Right across from the Jardin Alpin gondol</h2>
        <h2 class="heading-part2">The famous Gucci gondola</h2>
        <p>Book your stay now and experience luxury like never before.</p>
        <a href="/availability" class="btn btn-booking btn-lg light mt-5 m-0">Check availability</a>
    </div>
</section> -->



<!-- Map with Location -->
<!-- <section class="py-5" id="home-contact">
    <div class="container">
        <div class="row p-0 m-0">
     
            <div class="col-md-6 d-flex align-items-center">
                <div class="d-flex flex-column gap-3 justify-content-center mb-5 mb-lg-0">
                    <h2 class="mb-4">Our Location</h2>
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fas fa-phone"></i>
                        <a href="https://wa.me/33685915567" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
                                alt="WhatsApp Icon" class="whatsapp-icon">
                        </a>
                        <a href="tel:+33685915567" class="text-dark"> +33685915567</a>
                    </div>

                    <div class="d-flex gap-3">
                        <i class="fas fa-location"></i>
                        <p class="text-dark">431 Rue du Jardin Alpin, 73120 Courchevel, France</p>
                    </div>
                    <p>For inquiries, please contact us via phone or visit us at our address.</p>
                    <a href="/contact" class="btn btn-contact btn-lg m-0">Contact</a>
                </div>
            </div>

   
            <div class="col-md-12 col-lg-6 col-12">
                <div class="map-responsive">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2801.16289834307!2d6.631758816053987!3d45.4073965041467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4789494ff3a3af37%3A0x94738c62135c152e!2s431%20Rue%20du%20Jardin%20Alpin%2C%2073120%20Courchevel%2C%20France!5e0!3m2!1sen!2sbg!4v1728163659421!5m2!1sen!2sbg"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    </div>
</section> -->