<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <div class="snow-container"></div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>

    <div class="snow-container"></div>

    <header class="fixed-top transparent"
        style="width: 100%; z-index: 1030; background-color: white; border-bottom: 1px solid var(--primary);">
        <nav class="navbar">
            <div class="container">
                <a class="logo navbar-brand fw-bold text-dark" href="/">
                    <img src="/images/icons/logo-vellee.svg" alt="logo">
                </a>

                <!-- Navbar Toggler (only visible on mobile) -->
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Links (visible on larger screens) -->
                <div class="d-none d-lg-flex">
                    <ul class="navbar-nav ms-auto flex-row gap-3">
                        <li class="nav-item"><a class="nav-link" href="/#about">За нас</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#services">Нашите услуги</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#events">Събития</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Запитване</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#pricing">Цени</a></li>
                        <li class="nav-item"><a class="nav-link" href="#shop">Магазин</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Offcanvas Menu (only visible on mobile) -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">

                <a class="logo navbar-brand fw-bold text-dark" href="/">
                    <img src="/images/icons/logo-vellee.svg" alt="logo">
                </a>

                <h5 class="offcanvas-title invisible" id="offcanvasNavbarLabel">Menu</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
                <span class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></span>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/#about">За нас</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#services">Нашите услуги</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#events">Събития</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Запитване</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#pricing">Цени</a></li>
                        <li class="nav-item"><a class="nav-link" href="#shop">Магазин</a></li> -->
                </ul>

            </div>
            <div class="offcanvas-footer">
                <div class="social-icons-horizontal">
                    <a href="https://www.facebook.com/VelleeStudio" class="socials" target="_blank">
                        <img src="/images/icons/facebook.svg" alt="facebook" width="9" />
                    </a>
                    <a href="https://www.instagram.com/velleeevents" class="socials" target="_blank">
                        <img src="/images/icons/instagram.svg" alt="instagram" width="20" />
                    </a>

                </div>
            </div>
        </div>
        </div>
    </header>


    <main class="hero-container" data-template="<%= content %>">
        <%- include(content) %>
    </main>


    <footer class="site-footer">
        <div class="footer-top">
            <h2 class="font-pattaya">За връзка с нас</h2>
            <p class="font-poiret" style="font-weight: 700;">+359 883 55 91 54</p>

            <div class="footer-socials">
                <span>Последвайте ни:</span>
                <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                    <img src="/images/icons/instagram.svg" alt="Instagram" />
                </a>
                <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                    <img src="/images/icons/facebook.svg" alt="Facebook" />
                </a>
            </div>

            <p class="footer-email">velleeevents@gmail.com</p>
        </div>

        <div class="footer-bottom">
            <div class="footer-line"></div>
            <p>2025 Velleeevents© Всички права запазени!</p>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



    <script>

        // Slider
        new Swiper('.testimonials-swiper', {
            loop: true,
            centeredSlides: false,
            spaceBetween: 30,
            slidesPerView: 1,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                768: {
                    slidesPerView: 2,
                },
                1024: {
                    slidesPerView: 3,
                },
                1440: {
                    slidesPerView: 3,
                }
            }
        });



        document.addEventListener('DOMContentLoaded', function () {
            const offcanvasEl = document.getElementById('offcanvasNavbar');
            const bsOffcanvas = bootstrap.Offcanvas.getOrCreateInstance(offcanvasEl);

            const navLinks = offcanvasEl.querySelectorAll('.nav-link');
            navLinks.forEach(link => {
                link.addEventListener('click', () => {
                    bsOffcanvas.hide();
                });
            });
        });




        // JavaScript Email Validation
        document.getElementById('contactForm').addEventListener('submit', function (event) {
            const nameField = document.getElementById('name');
            const emailField = document.getElementById('email');
            const nameError = document.getElementById('nameError');
            const emailError = document.getElementById('emailError');

            let isValid = true;

            // Regex for name (only letters and spaces)
            const nameRegex = /^[A-Za-z\s]+$/;

            if (!nameRegex.test(nameField.value.trim())) {
                isValid = false;
                nameError.classList.remove('d-none');
            } else {
                nameError.classList.add('d-none');
            }

            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!emailRegex.test(emailField.value.trim())) {
                isValid = false;
                emailError.classList.remove('d-none');
            } else {
                emailError.classList.add('d-none');
            }

            if (!isValid) {
                event.preventDefault();
            }
        });


    </script>
</body>

</html>